node_modules
.svelte-kit
/build
.output
.vercel
.netlify
.wrangler

.git
.github

.env
.env.*
!.env.example
!.env.test

*.md
.editorconfig
.gitattributes
.gitignore
.vscode

n8n
supabase

.DS_Store
Thumbs.db
